<!DOCTYPE HTML>
<!--
	Beyond by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>Untitled</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/owl.carousel.min.css" />
		<link rel="stylesheet" href="assets/css/owl.theme.default.min.css" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="homepage">
		<div id="page-wrapper">
			
			<!-- Header Wrapper -->
				<div id="header-wrapper">
					
          
					<div class="container">

						<div class="row">
							<div class="12u">

								<!-- Header -->
									<header id="header">

										<!-- Logo -->
											<h1><a href="index.html" id="logo"><img src="images/logo.png"></a></h1>

										<!-- Nav -->
											<nav id="nav">
												<ul>
													<li><a href="index.html">Home</a></li>
													<li ><a href="About.html">About</a></li>
													<li class="current_page_item"><a href="Contact.html">Contact</a></li>
												</ul>
											</nav>

									</header>

							</div>
						</div>
					</div>
				</div>
				
				<div id="main-wrapper">
					<div class="container">
							<div class="map">
								<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13249.247068040606!2d151.20960562674117!3d-33.8816236491114!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1468899355787" width="100%" height="650px" frameborder="0" style="border:0" allowfullscreen></iframe>
							</div>
							<div class="contact-form">
								<h1 class="title">Contact Us</h1>
								<h2 class="subtitle">We are here assist you.</h2>
								<form action="">
									<input type="text" name="name" placeholder="Your Name" />
									<input type="email" name="e-mail" placeholder="Your E-mail Adress" />
									<input type="tel" name="phone" placeholder="Your Phone Number"/>
									<textarea name="text" id="" rows="8" placeholder="Your Message"></textarea>
									<button class="btn-send">Get a Call Back</button>
								</form>
							</div>
					</div>
				</div>

			<!-- Footer Wrapper -->
				<div id="footer-wrapper">
					<div class="container">
						<div class="row">
							<div class="12u">

								<!-- Footer -->
									<footer id="footer">
										<div class="row">
											<div class="6u 12u(mobile)">

												<section>
													<h2>Magna sed feugiat</h2>
													<p>Donec ornare, sem non congue cursus, neque sapien rutrum arcu, sit amet
													gravida sapien lectus molestie ante. Nam ut purus urna, in lacinia purus.
													Donec ornare, sem non congue cursus, neque sapien rutrum arcu, sit amet
													gravida sapien lectus tempus ante. Nam ut purus urna, in lacinia purus
													Nulla sed dictum neque pulvinar vehicula, orci tellus ornare sapien, a fermentum
													libero turpis a tortor. Vestibulum ac leo eu sem dolore et sed pharetra urna id mi.
													Donec ornare, sem non congue cursus, neque sapien rutrum arcu, sit amet
													gravida sapien lectus tempus ante. Nam ut purus urna, in lacinia purus.</p>
													<a href="#" class="button icon fa-file-o">Full Company Bio</a>
												</section>

											</div>
											<div class="3u 12u(mobile)">

												<section>
													<h2>Tempus lorem</h2>
													<ul class="style3">
														<li>
															<a href="#">Donec vestibulum sed viverra</a>
														</li>
														<li>
															<a href="#">Suspendisse sagittis varius</a>
														</li>
														<li>
															<a href="#">Integer et amet urna euismod</a>
														</li>
														<li>
															<a href="#">Feugiat consequat sed ipsum</a>
														</li>
													</ul>
												</section>

											</div>
											<div class="3u 12u(mobile)">

												<section>
													<h2>Contact us</h2>
													<ul class="contact">
														<li class="icon fa-home">
															1234 Somewhere Blvd #543<br />
															Nashville, TN 00000-0000
														</li>
														<li class="icon fa-phone">
															(800) 555-0000
														</li>
														<li class="icon fa-envelope">
															<a href="#">information@untitled.tld</a>
														</li>
														<li class="icon fa-twitter">
															<a href="#">@untitled</a>
														</li>
													</ul>
												</section>

											</div>
										</div>
									</footer>

								<!-- Copyright -->
									<div id="copyright">
										&copy; Untitled. All rights reserved.
									</div>

							</div>
						</div>
					</div>
				</div>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>

			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/skel-viewport.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
			<script src="assets/js/owl.carousel.min.js"></script>

			<script type="text/javascript">
          	$('.owl-carousel').owlCarousel({
				    loop:true,
				    margin:10,
				    responsiveClass:true,
				    responsive:{
				        0:{
				            items:1,
				            nav:true,
				            loop:true,
				            autoplay: true
				        }
				        
				    }
				})
          </script>
	</body>
</html>