<!DOCTYPE HTML>
<!--
	Beyond by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>Untitled</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/owl.carousel.min.css" />
		<link rel="stylesheet" href="assets/css/owl.theme.default.min.css" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="homepage">
		<div id="page-wrapper">
			
			<!-- Header Wrapper -->
				<div id="header-wrapper">
					
          
					<div class="container">

						<div class="row">
							<div class="12u">

								<!-- Header -->
									<header id="header">

										<!-- Logo -->
											<h1><a href="index.html" id="logo"><img src="images/logo.png"></a></h1>

										<!-- Nav -->
											<nav id="nav">
												<ul>
													<li class="current_page_item"><a href="index.html">Home</a></li>
													<li><a href="About.html">About</a></li>
													<li><a href="Contact.html">Contact</a></li>
												</ul>
											</nav>

									</header>

								<!-- Banner -->
									<div id="banner">
										<div class="owl-carousel owl-theme">
								            <div class="item">
								              <h4><img src="images/Fb.jpg"></h4>
								            </div>
								            <div class="item">
								              <h4><img src="images/library1.jpg"></h4>
								            </div>
								            <div class="item">
								              <h4><img src="images/Fb.jpg"></h4>
								            </div>
								            <div class="item">
								              <h4><img src="images/library1.jpg"></h4>
								            </div>
								            <div class="item">
								              <h4><img src="images/Fb.jpg"></h4>
								            </div>
								          </div>
									</div>

							</div>
						</div>
					</div>
				</div>

			<!-- Main Wrapper -->
				<div id="main-wrapper">
					<div class="container">
						<div class="row">
							<div class="12u">
								<div id="main">
									<div class="row">
											<div class="3u 12u(mobile)">

											<!-- Sidebar 1 -->
												<div id="sidebar1">

													<section class="box features">
														<h2>Student Services</h2>
														<article>
															<a href="#" class="image full"><img src="images/b1.jpg" alt="" /></a>
															<h3><a href="#">Orci faucibus sed tempus</a></h3>
															<p>Welcome to the library! To help meet your student needs the library offers a variety of services and materials. Ask a Librarian or stop by for a visit – the library is here to help you!</p>
														</article>
														<article>
															<a href="#" class="image full"><img src="images/b2.jpg" alt="" /></a>
															<h3><a href="#">Library Basics</a></h3>
															<p>Learn about library access and use. Find a place for quiet study or meet with your group in a library study room.</p>
														</article>
														<article>
															<a href="#" class="image full"><img src="images/b3.jpg" alt="" /></a>
															<h3><a href="#">Orci faucibus sed tempus</a></h3>
															<p>Take a look at research and course guides and connect with a subject librarian to guide you through your research.</p>
														</article>
														<a href="#" class="button icon fa-file-o">More Stories</a>
													</section>

												</div>

										</div>

										<div class="6u 12u(mobile)">

											<!-- Content -->
												<div id="content">

													
													<article class="box post">
														<header>
															<h2>Student Employment</h2>
															<span class="byline">Magna orci volutpat consequat</span>
														</header>
														<a href="#" class="image left"><img src="images/students.png" alt="" /></a>
														<p>Student employees are a vital component of day to day library operations. Each year, Vanderbilt University Libraries hires over 150 students in a wide variety of jobs with varying degrees of responsibilities. Fill out an application form to apply for student employment. The Vanderbilt Libraries work closely with Student Employment, which coordinates all on-campus student employment processes for Vanderbilt University. Please visit any library service desk for additional details and information.</p>
														<footer>
															<a href="#" class="button icon fa-file-o">Continue reading</a>
														</footer>

													</article>
													<article class="box post">
														<header>
															<h2>Accessibility</h2>
															<span class="byline">Magna orci volutpat consequat</span>
														</header>
														<a href="#" class="image left"><img src="images/students1.jpg" alt="" /></a>
														<p>Student employees are a vital component of day to day library operations. Each year, Vanderbilt University Libraries hires over 150 students in a wide variety of jobs with varying degrees of responsibilities.</p>
														<footer>
															<a href="#" class="button icon fa-file-o">Continue reading</a>
														</footer>
														
													</article>
													<section class="box cta">
														<section>
															<h2>Reserves</h2>
															<p>Books, Materials, and Equipment</p>
															<a href="#" class="bigbutton style1 icon fa-chevron-circle-right button-three">Learn More</a>
														</section>
														<section>
															<h2>Ask a Librarian</h2>
															<p>Library Services for Students</p>
															<a href="#" class="bigbutton style2 icon fa-chevron-circle-right">Learn More</a>
														</section>
													</section>


												</div>

										</div>
									
										<div class="3u 12u(mobile)">

											<!-- Sidebar 1 -->
												<div id="sidebar2">

													<section class="box style1">
														<h2>News</h2>
														<ul class="style2">
															<li>
																<a href="#">Cras lacinia vitae lectus</a>
																<span class="timestamp">15 minutes ago</span>
															</li>
															<li>
																<a href="#">Suspendisse feugiat sapien</a>
																<span class="timestamp">6 hours ago</span>
															</li>
															<li>
																<a href="#">Curabitur tempor imperdiet</a>
																<span class="timestamp">9 hours ago</span>
															</li>
															<li>
																<a href="#">Praesent dui turpisullamcorper</a>
																<span class="timestamp">14 hours ago</span>
															</li>
															<li>
																<a href="#">Faucibus orci luctus ultrices posue</a>
																<span class="timestamp">Yesterday</span>
															</li>
															<li>
																<a href="#">Suspendisse feugiat sapien odio</a>
																<span class="timestamp">2 days ago</span>
															</li>
															<li>
																<a href="#">Lorem ipsum doloar etiam</a>
																<span class="timestamp">3 days ago</span>
															</li>
														</ul>
													</section>

													<section class="box style2">
														<h2>@untitled</h2>
														<ul class="style2">
															<li>
																<article>
																	<p>Donec ipsum risus, luctus quis aliquet tempus condimentum</p>
																	<span class="timestamp">15 minutes ago</span>
																</article>
															</li>
															<li>
																<article>
																	<p><a href="#">@untitled</a> Sed gravida scele risque tempus sed venenatis vitae ac est in posuere tempus.</p>
																	<span class="timestamp">2 hours ago</span>
																</article>
															</li>
															<li>
																<article>
																	<p>Tempus sed tellus noenenatis vitae ac est <a href="#">@untitled</a> tempus.</p>
																	<span class="timestamp">4 hours ago</span>
																</article>
															</li>
														</ul>
													</section>

												</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			<!-- Footer Wrapper -->
				<div id="footer-wrapper">
					<div class="container">
						<div class="row">
							<div class="12u">

								<!-- Footer -->
									<footer id="footer">
										<div class="row">
											<div class="6u 12u(mobile)">

												<section>
													<h2>THE UNIVERSITY OF EDINBURGH</h2>
													<p>The University of Edinburgh is a charitable body, registered in Scotland, with registration number SC005336, VAT Registration Number GB 592 9507 00, and is acknowledged by the UK authorities as a “Recognised body” which has been granted degree awarding powers.</p>
													<a href="about.html" class="button icon fa-file-o">Full Company Bio</a>
												</section>

											</div>
											<div class="3u 12u(mobile)">

												<section>
													<h2>Website accessibility</h2>
													<ul class="style3">
														<li>
															<a href="#">Freedom of information publication scheme</a>
														</li>
														<li>
															<a href="#">Terms & conditions</a>
														</li>
														<li>
															<a href="#">Privacy & cookies</a>
														</li>
														<li>
															<a href="#">Modern slavery</a>
														</li>
													</ul>
												</section>

											</div>
											<div class="3u 12u(mobile)">

												<section>
													<h2>Contact us</h2>
													<ul class="contact">
														<li class="icon fa-home">
															1234 Somewhere Blvd #543<br />
															Nashville, TN 00000-0000
														</li>
														<li class="icon fa-phone">
															(800) 555-0000
														</li>
														<li class="icon fa-envelope">
															<a href="#">information@untitled.tld</a>
														</li>
														<li class="icon fa-twitter">
															<a href="#">@untitled</a>
														</li>
													</ul>
												</section>

											</div>
										</div>
									</footer>

								<!-- Copyright -->
									<div id="copyright">
										&copy; Untitled. All rights reserved.
									</div>

							</div>
						</div>
					</div>
				</div>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>

			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/skel-viewport.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
			<script src="assets/js/owl.carousel.min.js"></script>

			<script type="text/javascript">
          	$('.owl-carousel').owlCarousel({
				    loop:true,
				    margin:10,
				    responsiveClass:true,
				    responsive:{
				        0:{
				            items:1,
				            nav:true,
				            loop:true,
				            autoplay: true
				        }
				        
				    }
				})
          </script>
	</body>
</html>